<div class="row mb-2">
  <div class="col-12 col-sm-6">
    <span class="text-info"> Qualification :</span>
    {{ q.qualificationName }},
  </div>
  <div class="col-12 col-sm-6">
    <span class="text-info"> University :</span>
    {{ q.university }},
  </div>
  <div class="col-auto">
    <span class="text-info"> Date of Completion :</span>
    {{ q.dateOfCompletion | date }},
  </div>
  <div class="col-auto">
    <span class="text-info"> Grade or Score: </span>
    {{ q.gradeOrScore }}
  </div>
</div>
<ng-container *ngIf="showDeleteButton">
  <div class="d-flex w-100 justify-content-between mt-3">
    <button type="button" (click)="deleteQual(q.id)" class="btn btn-warning">
      Delete
    </button>
  </div>
</ng-container>
