<form
  [formGroup]="employerForm"
  (ngSubmit)="employerForm.valid && updateOrCreateDetails()"
  class="container rounded bg-white mt-5 mb-5"
>
  <div class="p-3 py-5 mx-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="text-center">{{ descriptionText }}</h4>
    </div>
    <div class="row mt-2">
      <div class="col-md-6">
        <label class="labels">Organization Name</label
        ><input
          [class.is-invalid]="
            employerForm.get('organizationName').errors &&
            employerForm.get('organizationName').touched
          "
          type="text"
          formControlName="organizationName"
          class="form-control"
          placeholder="Organization Name"
        />
      </div>
      <div class="col-md-6">
        <label class="labels">Organization Type</label
        ><input
          [class.is-invalid]="
            employerForm.get('organizationType').errors &&
            employerForm.get('organizationType').touched
          "
          type="text"
          formControlName="organizationType"
          class="form-control"
          placeholder="Organization Type"
        />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <label class="labels">Company Phone</label
        ><input
          [class.is-invalid]="
            employerForm.get('companyPhone').errors &&
            employerForm.get('companyPhone').touched
          "
          type="text"
          formControlName="companyPhone"
          class="form-control"
          placeholder="Company Phone"
        />
      </div>
      <div class="col-md-12">
        <label class="labels">Company Email</label
        ><input
          [class.is-invalid]="
            employerForm.get('companyEmail').errors &&
            employerForm.get('companyEmail').touched
          "
          type="text"
          formControlName="companyEmail"
          class="form-control"
          placeholder="Company Email"
        />
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">Number of Employees</label
        ><input
          [class.is-invalid]="
            employerForm.get('noOfEmployees').errors &&
            employerForm.get('noOfEmployees').touched
          "
          type="text"
          formControlName="noOfEmployees"
          class="form-control"
          placeholder="Start Year"
        />
      </div>
      <div class="col-md-6">
        <label class="labels">Start Year</label
        ><input
          [class.is-invalid]="
            employerForm.get('startYear').errors &&
            employerForm.get('startYear').touched
          "
          type="text"
          formControlName="startYear"
          class="form-control"
          placeholder="Start Year"
        />
      </div>
      <div class="col-md-12">
        <label class="labels">About</label
        ><input
          [class.is-invalid]="
            employerForm.get('about').errors &&
            employerForm.get('about').touched
          "
          type="text"
          formControlName="about"
          class="form-control"
          placeholder="About"
        />
      </div>
    </div>
    <button
      class="btn btn-primary my-4"
      type="submit"
      (click)="updateOrCreateDetails()"
    >
      {{ submitButtonText }}
    </button>
  </div>
</form>
