<div class="container rounded bg-white mt-5 mb-5" *ngIf="jobSeeker">
  <app-js-list-item-profile [js]="jobSeeker"></app-js-list-item-profile>

  <h5 class="text-center mt-4">
    Qualifications
    <span class="text-danger" *ngIf="jobSeeker.qualifications.length == 0"
      >: Not Added Yet</span
    >
  </h5>

  <div class="list-group mb-2">
    <div
      *ngFor="let q of jobSeeker.qualifications"
      class="container list-group-item flex-column align-items-start"
    >
      <app-js-list-item-qualification [q]="q"></app-js-list-item-qualification>
      <div class="d-flex w-100 justify-content-between mt-3">
        <button
          type="button"
          (click)="deleteQual(q.id)"
          class="btn btn-warning"
        >
          Delete
        </button>
      </div>
    </div>
  </div>

  <h5 class="text-center">
    Experiences

    <span class="text-danger" *ngIf="jobSeeker.experiences.length == 0"
      >: Not Added Yet</span
    >
  </h5>
  <div class="list-group">
    <div
      *ngFor="let e of jobSeeker.experiences"
      class="container list-group-item flex-column align-items-start"
    >
      <app-js-list-item-experience [e]="e"></app-js-list-item-experience>
      <div class="d-flex w-100 justify-content-between mt-3">
        <button type="button" (click)="deleteExp(e.id)" class="btn btn-warning">
          Delete
        </button>
      </div>
    </div>
  </div>
  <div class="row mt-2">
    <button
      (click)="navigateToCreateExp()"
      class="btn btn-outline-info col-12 col-lg-2 me-2"
      type="button"
    >
      Add New Experience
    </button>

    <button
      (click)="navigateToCreateQual()"
      class="btn btn-outline-primary col-12 col-lg-2 me-2"
      type="button"
    >
      Add New Qualification
    </button>
  </div>
  <!-- ************ -->
</div>
