<form
  [formGroup]="experienceForm"
  (ngSubmit)="createDetails()"
  class="text-center border border-light p-5"
>
  <p class="h4 mb-4">Create Experience</p>

  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        experienceForm.get('companyName').errors &&
        experienceForm.get('companyName').touched
      "
      type="text"
      formControlName="companyName"
      class="form-control"
      placeholder="Company Name"
    />
    <div class="invalid-feedback">Please enter Company Name</div>
  </div>
  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        experienceForm.get('companyUrl').errors &&
        experienceForm.get('companyUrl').touched
      "
      type="url"
      formControlName="companyUrl"
      class="form-control"
      placeholder="companyUrl"
    />
    <div class="invalid-feedback">Please enter company url</div>
  </div>

  <div class="form-group mb-4 mx-auto maxW400">
    <label class="labels">Start Date</label>
    <div class="input-group">
      <input
        class="form-control"
        (dateSelect)="onStartDateSelect($event)"
        ngbDatepicker
        #sd="ngbDatepicker"
        placeholder="Start Date"
      />
      <button
        class="btn btn-outline-secondary calendar"
        (click)="sd.toggle()"
        type="button"
      >
        &#8711;
      </button>
    </div>
  </div>
  <div class="form-group mb-4 mx-auto maxW400">
    <label class="labels">End Date</label>
    <div class="input-group">
      <input
        class="form-control"
        (dateSelect)="onEndDateSelect($event)"
        ngbDatepicker
        #ed="ngbDatepicker"
        placeholder="End Date"
      />
      <button
        class="btn btn-outline-secondary calendar"
        (click)="ed.toggle()"
        type="button"
      >
        &#8711;
      </button>
    </div>
  </div>
  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        experienceForm.get('designation').errors &&
        experienceForm.get('designation').touched
      "
      type="text"
      formControlName="designation"
      class="form-control"
      placeholder="designation"
    />
    <div class="invalid-feedback">Please enter designation</div>
  </div>
  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        experienceForm.get('jobDescription').errors &&
        experienceForm.get('jobDescription').touched
      "
      type="text"
      formControlName="jobDescription"
      class="form-control"
      placeholder="Job Description"
    />
    <div class="invalid-feedback">Please enter Job Description</div>
  </div>
  <!-- Password -->

  <!-- Sign in button -->
  <button
    block="true"
    class="btn btn-info my-4"
    type="submit"
  >
    Add Experience
  </button>

  <!-- Register -->
</form>

    <!-- [disabled]="!experienceForm.valid" -->