<div class="list-group list-group-flush" *ngIf="vacancyList">
  <div
    *ngFor="let vacancy of vacancyList"
    class="container list-group-item flex-column align-items-start"
  >
    <app-vacancy-list-item [vacancy]="vacancy"></app-vacancy-list-item>
    <div class="row">
      <button type="button" class="col-auto btn btn-warning ms-auto me-1" (click)="editVacancy(vacancy.id)">
        Edit Vacancy
      </button>
      <button type="button" class="col-auto btn btn-warning me-1" (click)="viewVacancyRequest(vacancy.id)">
        View Vacancy Requests
      </button>
    </div>
  </div>
</div>
