<div class="container text-center mt-3 border-bottom p-2">
  <h4>
    Vacancies Found ->
    <span class="text-success">{{ pagination?.totalItems }}</span>
  </h4>
</div>

<div class="container inline mt-3">
  <form
    #form="ngForm"
    class="form-inline mb-3"
    (ngSubmit)="loadVacancies()"
    autocomplete="off"
  >
    <div class="row">
      <div class="col-lg-4 col-md-6 col-sm-12 form-group px-2 d-inline">
        <label>Location: </label>
        <input
          type="text"
          class="form-control ml-1 d-inline"
          name="location"
          [(ngModel)]="filters.location"
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 form-group px-2 d-inline">
        <label>Published After : </label>
        <div class="input-group">
          <input
            class="form-control"
            (dateSelect)="onPublishedDateSelect($event)"
            ngbDatepicker
            #pd="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="pd.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 form-group px-2 d-inline">
        <label class="me-1">Last Date After :</label>
        <div class="input-group">
          <input
            class="form-control"
            (dateSelect)="onLastDateSelect($event)"
            ngbDatepicker
            #ld="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="ld.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
        </div>
      </div>
      <!-- </div> -->
      <!-- <div class="row"> -->
      <div class="col-lg-4 col-md-6 col-sm-12 form-group px-2 d-inline">
        <label>Min Salary: </label>
        <input
          type="number"
          class="form-control ml-1 d-inline"
          name="minSalary"
          [(ngModel)]="filters.minSalary"
        />
      </div>
      <div class="col-lg-4 col-md-6 col-sm-12 form-group px-2 d-inline">
        <label>Max Salary: </label>
        <input
          type="number"
          class="form-control ml-1 d-inline"
          name="maxSalary"
          [(ngModel)]="filters.maxSalary"
        />
      </div>

      <div class="col-lg-4 col-md-6 col-sm-12 form-group px-2 d-inline">
        <label class="me-1">Order By</label>
        <select
          name="orderBy"
          [(ngModel)]="filters.orderBy"
          class="form-select ml-1 d-inline"
        >
          <option selected value="null">none</option>
          <option *ngFor="let orderBy of toOrderBy" [value]="orderBy.value">
            {{ orderBy.name }}
          </option>
        </select>
      </div>
    </div>
    <div class="mt-2 text-center">
      <button class="btn btn-success me-1" type="submit">Apply Filters</button>
      <button
        (click)="resetFilters()"
        class="btn btn-warning me-1"
        type="button"
      >
        Reset Filters
      </button>
    </div>
  </form>
</div>
<div class="list-group list-group-flush">
  <!-- <div class="card"> -->
  <div
    *ngFor="let vacancy of vacancies"
    class="container list-group-item flex-column align-items-start"
  >
    <app-vacancy-list-item [vacancy]="vacancy"></app-vacancy-list-item>
    <div class="row mt-2">
      <button
        class="col-lg-auto col-sm-auto btn btn-info ms-auto me-1"
        (click)="getEmployerDetails(vacancy.employerEntityId)"
      >
        Employer Details
      </button>
      <button
        (click)="applyForVacancy(vacancy.id)"
        *ngIf="(accountService.currentRole$ | async) == 'JobSeeker'"
        class="col-lg-auto col-sm-auto btn btn-success me-1"
        type="button"
      >
        Apply For Vacancy
      </button>
      <small
        class="text-danger"
        *ngIf="(accountService.currentRole$ | async) != 'JobSeeker'"
        >log in to apply</small
      >
    </div>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="pagination">
  <ngb-pagination
    ngDefaultControl
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [collectionSize]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    (pageChange)="pageChanged($event)"
    [maxSize]="5"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>
