<form
  class="container rounded bg-white mt-5 mb-5"
  [formGroup]="vacancyCreateForm"
  (ngSubmit)="vacancyCreateForm.valid && createVacancy()"
>
  <div class="p-3 py-5 mx-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4>Create Vacancy</h4>
    </div>
    <div class="row mt-2">
      <div class="col-md-9">
        <label class="labels">Job Description</label
        ><input
          [class.is-invalid]="
            vacancyCreateForm.get('jobDescription').errors &&
            vacancyCreateForm.get('jobDescription').touched
          "
          [class.is-valid]="
            !vacancyCreateForm.get('jobDescription').errors &&
            vacancyCreateForm.get('jobDescription').touched
          "
          formControlName="jobDescription"
          type="text"
          class="form-control"
          placeholder="Job description"
        />
        <div class="invalid-feedback">Please enter Job Description</div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="labels">Min. Salary</label
          ><input
            [class.is-invalid]="
              vacancyCreateForm.get('minSalary').errors &&
              vacancyCreateForm.get('minSalary').touched
            "
            [class.is-valid]="
              !vacancyCreateForm.get('minSalary').errors &&
              vacancyCreateForm.get('minSalary').touched
            "
            formControlName="minSalary"
            type="number"
            class="form-control"
            placeholder="Minimum Salary"
          />
          <div class="invalid-feedback">
            Please enter a Minimum Salary (Must be Less than Maximum Salary)
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label class="labels">Max. Salary</label
          ><input
            [class.is-invalid]="
              vacancyCreateForm.get('maxSalary').errors &&
              vacancyCreateForm.get('maxSalary').touched
            "
            [class.is-valid]="
              !vacancyCreateForm.get('maxSalary').errors &&
              vacancyCreateForm.get('maxSalary').touched
            "
            type="number"
            class="form-control"
            formControlName="maxSalary"
            placeholder="Maximum salary"
          />
          <div class="invalid-feedback">
            Please enter a Maximum Salary (Must be Greater than Minimum Salary)
          </div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-6">
        <label class="labels">Experience Required</label
        ><input
          [class.is-invalid]="
            vacancyCreateForm.get('experienceRequired').errors &&
            vacancyCreateForm.get('experienceRequired').touched
          "
          [class.is-valid]="
            !vacancyCreateForm.get('experienceRequired').errors &&
            vacancyCreateForm.get('experienceRequired').touched
          "
          formControlName="experienceRequired"
          type="text"
          class="form-control"
          placeholder="Experience Required"
        />
        <div class="invalid-feedback">Please enter a Experience Required</div>
      </div>
      <div class="col-md-6">
        <label class="labels">Minimum Qualification</label
        ><input
          [class.is-invalid]="
            vacancyCreateForm.get('minimumQualification').errors &&
            vacancyCreateForm.get('minimumQualification').touched
          "
          [class.is-valid]="
            !vacancyCreateForm.get('minimumQualification').errors &&
            vacancyCreateForm.get('minimumQualification').touched
          "
          formControlName="minimumQualification"
          type="text"
          class="form-control"
          placeholder="Minimum Qualification"
        />
        <div class="invalid-feedback">Please enter a Experience Required</div>
      </div>
      <div class="col-md-4">
        <label class="labels">Last Date to apply</label>
        <div class="input-group">
          <input
            [class.is-invalid]="!isLastDateValid()"
            [class.is-valid]="isLastDateValid()"
            class="form-control"
            (dateSelect)="onLastDateToApplySelect($event)"
            ngbDatepicker
            placeholder="Last Date To Apply"
            #d="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
          <div class="invalid-feedback">Please enter a Last Date To Apply</div>
        </div>
      </div>

      <div class="col-md-4">
        <label class="labels">Number of Vacancies</label
        ><input
          [class.is-invalid]="
            vacancyCreateForm.get('noOfVacancies').errors &&
            vacancyCreateForm.get('noOfVacancies').touched
          "
          [class.is-valid]="
            !vacancyCreateForm.get('noOfVacancies').errors &&
            vacancyCreateForm.get('noOfVacancies').touched
          "
          formControlName="noOfVacancies"
          type="text"
          class="form-control"
          placeholder="Number of vacancies"
        />
        <div class="invalid-feedback">Please enter a Number Of Vacancies</div>
      </div>
      <div class="col-md-4">
        <label class="labels">Location</label
        ><input
          [class.is-invalid]="
            vacancyCreateForm.get('location').errors &&
            vacancyCreateForm.get('location').touched
          "
          [class.is-valid]="
            !vacancyCreateForm.get('location').errors &&
            vacancyCreateForm.get('location').touched
          "
          formControlName="location"
          type="text"
          class="form-control"
          placeholder="Job Location"
        />
        <div class="invalid-feedback">Please enter Location</div>
      </div>
    </div>
    <div class="mt-3">
      <button
        [disabled]="!vacancyCreateForm.valid"
        class="btn btn-primary"
        type="button"
        (click)="createVacancy()"
      >
        Create
      </button>
    </div>
  </div>
</form>
