<div class="row mb-2">
  <h4 class="col-12 col-sm-6">{{ js.firstName }}</h4>
  <h4 class="col-12 col-sm-6">{{ js.lastName }}</h4>
</div>
<div class="row mb-2">
  <div class="col-auto">
    <span class="text-primary"> Email :</span>
    {{ js.email }}.
  </div>
  <div class="col-auto">
    <span class="text-primary"> Phone: </span>
    {{ js.phone }} ,
  </div>
  <div class="col-auto">
    <span class="text-primary"> DOB : </span>

    {{ js.dateOfBirth | date }} ,
  </div>
</div>
<div class="row mb-2">
  <div class="col-auto">
    <span class="text-primary"> Total Experience: </span>
    {{ js.totalExperience }} ,
  </div>
  <div class="col-auto">
    <span class="text-primary"> Expected Salary : </span>

    {{ js.expectedSalaryAnnual }} ,
  </div>
  <!-- <div class="col-auto">
    <span class="text-primary"> Address :</span>
    {{ js.address }}.
  </div> -->
</div>
<div class="row">
  <button
    type="button"
    class="col-auto btn btn-outline-primary"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseexample"
  >
    View Qualifications and Experiences
  </button>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="list-group list-group-flush">
    <div
      *ngFor="let q of js.qualifications"
      class="container list-group-item flex-column align-items-start"
    >
      <app-js-list-item-qualification
        [q]="q"
      ></app-js-list-item-qualification>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <div
      *ngFor="let e of js.experiences"
      class="container list-group-item flex-column align-items-start"
    >
      <app-js-list-item-experience
        [e]="e"
      ></app-js-list-item-experience>
    </div>
  </div>
</div>
