<div class="row mb-2 border-bottom text-success">
  <h4>
    {{ js.firstName }}
    {{ js.lastName }}
  </h4>
</div>
<div class="row mb-2 border-bottom">
  <div class="col-auto">
    <span class="text-info"> Email :</span>
    {{ js.email }},
  </div>
  <div class="col-auto">
    <span class="text-info"> Phone: </span>
    {{ js.phone }},
  </div>
  <div class="col-auto">
    <span class="text-info"> Date of Birth : </span>

    {{ js.dateOfBirth | date }},
  </div>
</div>
<div class="row mb-2 border-bottom">
  <div class="col-auto">
    <span class="text-info"> Total Experience: </span>
    {{ js.totalExperience }},
  </div>
  <div class="col-auto">
    <span class="text-info"> Expected Salary : </span>

    {{ js.expectedSalaryAnnual }},
  </div>
</div>
<div class="col-auto">
  <span class="text-info"> Address :</span>
  {{ js.address }}.
</div>
<!-- </div> 
<div class="row">
  <button
    type="button"
    class="col-auto btn btn-outline-primary"
    (click)="collapse.toggle()"
    [attr.aria-expanded]="!isCollapsed"
    aria-controls="collapseexample"
  >
    View Qualifications and Experiences
  </button>
</div>
<div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
  <div class="list-group list-group-flush">
    <div
      *ngFor="let q of js.qualifications"
      class="container list-group-item flex-column align-items-start"
    >
      <app-js-list-item-qualification
        [q]="q"
      ></app-js-list-item-qualification>
    </div>
  </div>
  <div class="list-group list-group-flush">
    <div
      *ngFor="let e of js.experiences"
      class="container list-group-item flex-column align-items-start"
    >
      <app-js-list-item-experience
        [e]="e"
      ></app-js-list-item-experience>
    </div>
  </div>
</div> -->
