<div class="container rounded bg-white mt-5 mb-5" *ngIf="employer">
  <!-- <div class="p-3 py-5 mx-3"> -->
  <div class="col-md-12 mt-2 border-bottom border-muted">
    <div><strong>Company Name</strong></div>
    {{ employer.organizationName }}
  </div>
  <div class="col-md-12 mt-2 border-bottom border-muted">
    <div><strong>Company Type</strong></div>
    {{ employer.organizationType }}
  </div>
  <div class="col-md-12 mt-2 border-bottom border-muted">
    <div><strong>Company Email</strong></div>
    {{ employer.companyEmail }}
  </div>
  <div class="col-md-12 mt-2 border-bottom border-muted">
    <div><strong>Company Phone</strong></div>
    {{ employer.companyPhone }}
  </div>
  <div class="row mt-2 p-1">
    <div class="col-md-6 border-bottom border-muted mt-3">
      <div><strong>Employees</strong></div>
      {{ employer.noOfEmployees }}
    </div>
    <div class="col-md-6 border-bottom border-muted mt-3">
      <div><strong>Start Year</strong></div>
      {{ employer.startYear }}
    </div>
    <div class="col-md-12 border-bottom border-muted mt-3">
      <div><strong>About</strong></div>
      {{ employer.about }}
    </div>
  </div>
</div>
