<form
  [formGroup]="qualificationForm"
  (ngSubmit)=" createDetails()"
  class="text-center border border-light p-5"
>
  <p class="h4 mb-4">Create Qualification</p>

  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        qualificationForm.get('qualificationName').errors &&
        qualificationForm.get('qualificationName').touched
      "
      type="text"
      formControlName="qualificationName"
      class="form-control"
      placeholder="Name"
    />
    <div class="invalid-feedback">Please enter Qualification Name</div>
  </div>
  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        qualificationForm.get('university').errors &&
        qualificationForm.get('university').touched
      "
      type="url"
      formControlName="university"
      class="form-control"
      placeholder="university name"
    />
    <div class="invalid-feedback">Please enter university name</div>
  </div>

  <!-- end date -->
  <div class="form-group mb-4 mx-auto maxW400">
    <label class="me-auto">Qualification End Date</label>
    <div class="input-group">
      <input
        class="form-control"
        (dateSelect)="onEndDateSelect($event)"
        ngbDatepicker
        placeholder="Completion Date"
        #d="ngbDatepicker"
      />
      <button
        class="btn btn-outline-secondary calendar"
        (click)="d.toggle()"
        type="button"
      >
        &#8711;
      </button>
    </div>
  </div>
  <div class="form-group mb-4 mx-auto maxW400">
    <input
      [class.is-invalid]="
        qualificationForm.get('gradeOrScore').errors &&
        qualificationForm.get('gradeOrScore').touched
      "
      type="text"
      formControlName="gradeOrScore"
      class="form-control"
      placeholder="Grade or Score"
    />
    <div class="invalid-feedback">Please enter Grade or Score</div>
  </div>
  <!-- Password -->

  <!-- Sign in button -->
  <button
    block="true"
    class="btn btn-info my-4"
    type="submit"
  >
    Create Qualification
  </button>

  <!-- Register -->
</form>

    <!-- [disabled]="!qualificationForm.valid" -->