<div class="list-group list-group-flush ">
  <div
    *ngFor="let vacancy of vacancies"
    class="container list-group-item flex-column align-items-start"
  >
    <app-vacancy-list-item [vacancy]="vacancy"></app-vacancy-list-item>

      <div class="d-flex w-100 justify-content-between mt-3">
        <button
          type="button"
          (click)="deleteVacancyRequest(vacancy.id)"
          class="btn btn-warning"
        >
          Delete
        </button>
      </div>
  </div>
</div>
<div
  class="d-flex justify-content-center"
  *ngIf="pagination && pagination?.totalItems != 0 && pagination?.totalItems >= pageSize"
>
  <ngb-pagination
    ngDefaultControl
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [collectionSize]="pagination.totalItems"
    [(ngModel)]="pagination.currentPage"
    (pageChange)="pageChanged($event)"
    [maxSize]="5"
    [ellipses]="false"
    [boundaryLinks]="true"
  ></ngb-pagination>
</div>