<div class="list-group">
  <div
    *ngFor="let vacancy of vacancies"
    class="container list-group-item list-group-item-action flex-column align-items-start"
  >
    <app-vacancy-list-item [vacancy]="vacancy"></app-vacancy-list-item>
  </div>
</div>

<div class="d-flex justify-content-center" *ngIf="totalItems">
  <ngb-pagination
    ngDefaultControl
    [(page)]="pageNumber"
    [pageSize]="pageSize"
    [collectionSize]="totalItems"
    (pageChange)="pageChanged($event)"
  ></ngb-pagination>
</div>
