<form
  class="container rounded bg-white mt-5 mb-5"
  [formGroup]="vacancyUpdateForm"
  (ngSubmit)="vacancyUpdateForm.valid && updateVacancy()"
>
  <div class="p-3 py-5 mx-3">
    <div class="d-flex justify-content-between align-items-center mb-3">
      <h4 class="text-center">Update Vacancy</h4>
    </div>
    <div class="row mt-2">
      <div class="col-md-12">
        <label class="labels">Job Description</label
        ><input
          [class.is-invalid]="
            vacancyUpdateForm.get('jobDescription').errors &&
            vacancyUpdateForm.get('jobDescription').touched
          "
          [class.is-valid]="
            !vacancyUpdateForm.get('jobDescription').errors &&
            vacancyUpdateForm.get('jobDescription').touched
          "
          formControlName="jobDescription"
          type="text"
          class="form-control"
          placeholder="Job description"
        />
        <div class="invalid-feedback">Please enter Job Description</div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="labels">Min. Salary</label
          ><input
            [class.is-invalid]="
              vacancyUpdateForm.get('minSalary').errors &&
              vacancyUpdateForm.get('minSalary').touched
            "
            [class.is-valid]="
              !vacancyUpdateForm.get('minSalary').errors &&
              vacancyUpdateForm.get('minSalary').touched
            "
            formControlName="minSalary"
            type="number"
            class="form-control"
            placeholder="Minimum Salary"
          />
          <div class="invalid-feedback">Please enter a Minimum Salary</div>
        </div>
        <div class="form-group">
          <label class="labels">Max. Salary</label
          ><input
            [class.is-invalid]="
              vacancyUpdateForm.get('maxSalary').errors &&
              vacancyUpdateForm.get('maxSalary').touched
            "
            [class.is-valid]="
              !vacancyUpdateForm.get('maxSalary').errors &&
              vacancyUpdateForm.get('maxSalary').touched
            "
            type="number"
            class="form-control"
            formControlName="maxSalary"
            placeholder="Maximum salary"
          />
          <div class="invalid-feedback">Please enter a Maximum Salary</div>
        </div>
      </div>
    </div>
    <div class="row mt-3">
      <div class="col-md-12">
        <label class="labels">Experience Required</label
        ><input
          [class.is-invalid]="
            vacancyUpdateForm.get('experienceRequired').errors &&
            vacancyUpdateForm.get('experienceRequired').touched
          "
          [class.is-valid]="
            !vacancyUpdateForm.get('experienceRequired').errors &&
            vacancyUpdateForm.get('experienceRequired').touched
          "
          formControlName="experienceRequired"
          type="text"
          class="form-control"
          placeholder="Experience Required"
        />
        <div class="invalid-feedback">Please enter a Experience Required</div>
      </div>
      <div class="col-md-12">
        <label class="labels">Minimum Qualification</label
        ><input
          [class.is-invalid]="
            vacancyUpdateForm.get('minimumQualification').errors &&
            vacancyUpdateForm.get('minimumQualification').touched
          "
          [class.is-valid]="
            !vacancyUpdateForm.get('minimumQualification').errors &&
            vacancyUpdateForm.get('minimumQualification').touched
          "
          formControlName="minimumQualification"
          type="text"
          class="form-control"
          placeholder="Minimum Qualification"
        />
        <div class="invalid-feedback">Please enter a Experience Required</div>
      </div>
      <div class="col-md-12">
        <label class="labels">Last Date to apply</label>
        <div class="input-group">
          <input
            [class.is-invalid]="!isLastDateValid()"
            [class.is-valid]="isLastDateValid()"
            class="form-control"
            (dateSelect)="onLastDateToApplySelect($event)"
            ngbDatepicker
            formControlName="lastDateToApply"
            placeholder="Last Date To Apply"
            #d="ngbDatepicker"
          />
          <button
            class="btn btn-outline-secondary calendar"
            (click)="d.toggle()"
            type="button"
          >
            <fa-icon [icon]="faCalendar"></fa-icon>
          </button>
          <div class="invalid-feedback">Please enter a Last Date To Apply</div>
        </div>
      </div>

      <div class="col-md-6">
        <label class="labels">Number of Vacancies</label
        ><input
          [class.is-invalid]="
            vacancyUpdateForm.get('noOfVacancies').errors &&
            vacancyUpdateForm.get('noOfVacancies').touched
          "
          [class.is-valid]="
            !vacancyUpdateForm.get('noOfVacancies').errors &&
            vacancyUpdateForm.get('noOfVacancies').touched
          "
          formControlName="noOfVacancies"
          type="text"
          class="form-control"
          placeholder="Number of vacancies"
        />
        <div class="invalid-feedback">Please enter a Number Of Vacancies</div>
      </div>
      <div class="col-md-6">
        <label class="labels">Location</label
        ><input
          [class.is-invalid]="
            vacancyUpdateForm.get('location').errors &&
            vacancyUpdateForm.get('location').touched
          "
          [class.is-valid]="
            !vacancyUpdateForm.get('location').errors &&
            vacancyUpdateForm.get('location').touched
          "
          formControlName="location"
          type="text"
          class="form-control"
          placeholder="Job Location"
        />
        <div class="invalid-feedback">Please enter Location</div>
      </div>
    </div>
    <div class="mt-3">
      <button
        [disabled]="!vacancyUpdateForm.valid"
        class="btn btn-primary"
        type="button"
        (click)="updateVacancy()"
      >
        Update
      </button>
    </div>
  </div>
</form>
